<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>638412203411-j9fpc0djunrsth4r25mdcd7n9apq0leq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638412203411-j9fpc0djunrsth4r25mdcd7n9apq0leq</string>
	<key>API_KEY</key>
	<string>AIzaSyAYmh25zc8xMbYUj-TQZ6GUp9W2r0lnwqw</string>
	<key>GCM_SENDER_ID</key>
	<string>638412203411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jbhunt.carrier360-rn-dev</string>
	<key>PROJECT_ID</key>
	<string>jbhunt-carrier360-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>jbhunt-carrier360-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638412203411:ios:11449cdac60fc3b6</string>
	<key>DATABASE_URL</key>
	<string>https://jbhunt-carrier360-dev.firebaseio.com</string>
</dict>
</plist>